In [1]:
import tabula
import os
import pandas as pd

In [20]:
files = [os.path.join('planes_circuitales', i) for i in os.listdir('planes_circuitales')]
files[0:5]

['planes_circuitales\\Artigas.pdf',
 'planes_circuitales\\Canelones.pdf',
 'planes_circuitales\\Cerro_Largo.pdf',
 'planes_circuitales\\Colonia.pdf',
 'planes_circuitales\\Durazno.pdf']

In [21]:
area_tuple = (156, 85, 532, 757)

In [24]:
df = tabula.read_pdf(os.path.join(files[0]), lattice=False, pages='all', area=area_tuple)
df[0].head(2)

,CIRCUITO,SERIE,DESDE,Unnamed: 0,HASTA,HAB.,Unnamed: 1,LOCALIDAD,DIRECCION,Acc.,Unnamed: 2,URB/RURAL
0,1,IAA,NaN,1,4130,NaN,282,COLONIA PINTADO,ESC.14,NaN,s,RURAL
1,2,IAA,NaN,4131,4873,NaN,282,COLONIA PINTADO,ESC.14,NaN,s,RURAL

In [25]:
def df_from_pdf(file, area_tuple):
    df = tabula.read_pdf(file, lattice=False, pages='all', area=area_tuple)
    df_con = pd.concat(df)

    return df_con

In [31]:
test = df_from_pdf(files[0], area_tuple)
test.head(2)

,CIRCUITO,SERIE,DESDE,Unnamed: 0,HASTA,HAB.,Unnamed: 1,LOCALIDAD,DIRECCION,Acc.,Unnamed: 2,URB/RURAL
0,1,IAA,NaN,1,4130,NaN,282,COLONIA PINTADO,ESC.14,NaN,s,RURAL
1,2,IAA,NaN,4131,4873,NaN,282,COLONIA PINTADO,ESC.14,NaN,s,RURAL

In [32]:
def parse_dfs(files_list, area_tuple):
    dfs = []
    for file in files_list:
        df = df_from_pdf(file, area_tuple)
        df['file'] = file
        dfs.append(df)

        return dfs

In [33]:
all = parse_dfs(files, area_tuple)

In [36]:
all[1]

IndexError: list index out of range