In [2]:
import tabula
import os
import pandas as pd

In [3]:
files = [os.path.join('planes_circuitales', i) for i in os.listdir('planes_circuitales')]
files[0:5]

['planes_circuitales\\Artigas.pdf',
 'planes_circuitales\\Canelones.pdf',
 'planes_circuitales\\Cerro_Largo.pdf',
 'planes_circuitales\\Colonia.pdf',
 'planes_circuitales\\Durazno.pdf']

In [82]:
deptos = [
    'Artigas',
    'Canelones',
    'Cerro_Largo',
    'Colonia',
    'Durazno',
    'Flores',
    'Florida',
    'Lavalleja',
    'Maldonado',
    'Montevideo',
    'Paysandu',
    'Rio_Negro',
    'Rivera',
    'Rocha',
    'Salto',
    'San_Jose',
    'Soriano',
    'Tacuarembo',
    'Treinta_y_Tres'
    ]

In [4]:
area_tuple = (156, 85, 532, 757)

In [5]:
df = tabula.read_pdf(os.path.join(files[0]), lattice=False, pages='all', area=area_tuple)
df[0].head(2)

,CIRCUITO,SERIE,DESDE,Unnamed: 0,HASTA,HAB.,Unnamed: 1,LOCALIDAD,DIRECCION,Acc.,Unnamed: 2,URB/RURAL
0,1,IAA,NaN,1,4130,NaN,282,COLONIA PINTADO,ESC.14,NaN,s,RURAL
1,2,IAA,NaN,4131,4873,NaN,282,COLONIA PINTADO,ESC.14,NaN,s,RURAL

In [15]:
# "x1": left,
# "x2": right,
# "y1": top,
# "y2": bottom,

# (top, left, bottom, right)

In [60]:
area = [
    {"x1":85.00391051734927,"x2":757.391650766983,"y1":156.25912273406985,"y2":532.9646},
    {"x1":50.999400010452256,"x2":790.7311392835236,"y1":133.00439807128905,"y2":532.85939227},
    {"x1":52.998674981460596,"x2":786.4169143460846,"y1":149.99823532485965,"y2":530.912729801178},
    {"x1":53.998312466964734,"x2":786.3643018468476,"y1":141.00149795532226,"y2":538.751},
    {"x1":53.998312466964734,"x2":786.3643018468476,"y1":141.00149795532226,"y2":538.751},
    {"x1":53.998312466964734,"x2":786.3643018468476,"y1":141.00149795532226,"y2":538.751},
    {"x1":53.998312466964734,"x2":785.3120518621064,"y1":134.00403555679324,"y2":537.01577971},
    {"x1":53.998312466964734,"x2":786.3643018468476,"y1":141.00149795532226,"y2":538.751},
    {"x1":53.998312466964734,"x2":786.3643018468476,"y1":141.00149795532226,"y2":538.751},
    {"x1":50.999400010452256,"x2":787.5743893293,"y1":123.00802321624758,"y2":536.5422672195434},
    {"x1":49.99976252494812,"x2":764.4775021642305,"y1":157.9953352088928,"y2":536.8053297157288},
    {"x1":53.998312466964734,"x2":740.0653025182343,"y1":126.00693567276002,"y2":530.0709298133851},
    {"x1":53.998312466964734,"x2":786.3643018468476,"y1":141.00149795532226,"y2":538.751},
    {"x1":49.99976252494812,"x2":780.2612519353486,"y1":157.9953352088928,"y2":530.4918298072815},
    {"x1":49.99976252494812,"x2":788.6792518132783,"y1":136.00331052780152,"y2":540.0673046684266},
    {"x1":51.999037495956394,"x2":787.5217768300628,"y1":141.00149795532226,"y2":535.5952422332764},
    {"x1":53.998312466964734,"x2":786.3643018468476,"y1":141.00149795532226,"y2":538.751},
    {"x1":53.998312466964734,"x2":786.3643018468476,"y1":125.00729818725588,"y2":535.3847922363282},
    {"x1":21.992024681091287,"x2":796.4480134506226,"y1":152.99714778137206,"y2":539.1728921813965}
    ]

In [63]:
areas = [(i['y1'], i['x1'], i['y2'], i['x2']) for i in area]
areas[0:5]

[(156.25912273406985, 85.00391051734927, 532.9646, 757.391650766983),
 (133.00439807128905, 50.999400010452256, 532.85939227, 790.7311392835236),
 (149.99823532485965, 52.998674981460596, 530.912729801178, 786.4169143460846),
 (141.00149795532226, 53.998312466964734, 538.751, 786.3643018468476),
 (141.00149795532226, 53.998312466964734, 538.751, 786.3643018468476)]

In [64]:
def df_from_pdf(file, area_tuple):
    df = tabula.read_pdf(file, lattice=False, pages='all', area=area_tuple)
    df_con = pd.concat(df)

    return df_con

In [65]:
test = df_from_pdf(files[0], areas[0])
test.head(2)

,CIRCUITO,SERIE,DESDE,Unnamed: 0,HASTA,HAB.,Unnamed: 1,LOCALIDAD,DIRECCION,Acc.,Unnamed: 2,URB/RURAL
0,1,IAA,NaN,1,4130,NaN,282,COLONIA PINTADO,ESC.14,NaN,s,RURAL
1,2,IAA,NaN,4131,4873,NaN,282,COLONIA PINTADO,ESC.14,NaN,s,RURAL

In [67]:
test2 = df_from_pdf(files[17], areas[17])
test2.head(2)

,Circuito,Serie,Desde,Hasta,Localidad,Local,Habilitados,Accesible,Urb/Rur
0,1.0,TAA,1,21743,Ciudad,Asociación de Jubilados - Ituzaingó No 388,410,S,Urbano
1,2.0,TAA,21744,25125,Ciudad,Asociación de Jubilados - Ituzaingó No 388,410,N,Urbano

In [72]:
dataframes = []
for j, k in zip(files, areas):
    df = df_from_pdf(j, k)
    df['file'] = j
    dataframes.append(df)

In [80]:
dataframes[15].head(2)

,Circuito,Serie,Desde,Hasta,Localidad,Local,Habilitados,Accesible,Urb/Rur,file
0,1,OAA,1,4073,SAN JOSÉ DE MAYO,"Salón INVE 2, 18 de Julio y Rocha",387,S,URBANO,planes_circuitales\San_Jose.pdf
1,2,OAA,4074,5048,SAN JOSÉ DE MAYO,"Salón INVE 2, 18 de Julio y Rocha. Barbacoa.",387,N,URBANO,planes_circuitales\San_Jose.pdf

In [83]:
for i in range(19):
    filename = os.path.join('procesados', (deptos[i] + '.csv'))
    dataframes[i].to_csv(filename, index=False)